:root {
  /* Color styles */
  --dark--bg: rgba(30, 31, 33, 1);
  --white--text: rgba(235, 235, 235, 1);

  /* Text-size styles */
  --header: 80px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--dark--bg);
  color: var(--white--text);
  padding: 0px 120px;
  height: 100vh;
}
